.bg-pricing {
    background: #fcfcfc;
}

.pricing-header {
    color: #535a5e;
    font-size: rem(30);
}

.pricing-lead {
    color: #98a0a5;
    font-size: rem(21);
}

.pricing-bottom {
    color: #98a0a5;
    font-size: rem(15);
}

.card-header-1 {
    background-color: #535a5e;
    font-size: rem(30);
}

.card-header-2 {
    background-color: #58ad52;
    font-size: rem(30);
}

.card-header-3 {
    background-color: #53a1ad;
    font-size: rem(30);
}

.free {
    color: #e9eef2;    
}

.card-body {
    background-color: #e9eef2;
    font-size: rem(21);
}

.popular {
    font-size: rem(16);
}

.btn-bottom-free {
    background-color: #535a5e;
}

.btn-bottom-prof {
    background-color: #58ad52;
}

.btn-bottom-enterprise {
    background-color: #53a1ad;
}
